body {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
}

.h1-size {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    text-align: center;
    border-bottom: solid 3px rgb(115, 115, 114);
}

#text-blue {
    color: #a0d8ef; 

}

#text-pink {
    color: rgb(255, 192, 203);
}

.h2-pink {
    color: rgb(255, 192, 203);
}

.h2-blue {
    color: #a0d8ef;
}

#basic p {
    font-weight: bold;
}